:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --light-blue: hsl(210, 100%, 90%);
  --dark-blue: hsl(209, 23%, 22%);
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'DM Sans', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  width: 100%;
}

/* Desktop Header */
.desktop-header, .mobile-header {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.logo span {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-color);
}

.desktop-header .logo, .mobile-header .logo {
  flex: 0;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.desktop-header .logo img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.mobile-header .logo img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.desktop-nav, .mobile-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.desktop-nav a, .mobile-nav a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.mobile-nav a {
  margin: 0 15px;
}

.desktop-nav a {
  margin: 0 35px;
  font-size: 18px;
}


.desktop-nav a img, .mobile-nav a img {
  width: 20px;
  margin-right: 8px;
}

.theme-switcher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-left: 5px;
}

.theme-switcher img {
  width: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
}

body.dark-mode .theme-switcher img {
  transform: rotate(180deg);
  opacity: 0.8;
}

/* Mobile Header */
.mobile-header {
  display: flex;
}

/* Mobile Styles */
@media (max-width: 767px) {
  header {
    padding: 20px 0;
  }
}



@media (min-width: 768px) {
  .desktop-header {
    display: flex;
  }

  .mobile-header {
    display: none;
  }
}

/* Notifications Section Styling */
#notifications-section {
  padding: 20px 0;
  color: var(--text-color);
}

#notifications-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

/* Styling for the notification items */
.notification-item {
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #e6e6e7;
}

.notification-date {
  font-size: 18px;
  font-weight: 500;
}

.notification-info {
  font-size: 14px;
  margin-top: 5px;
}


.loader {
  position: fixed; /* Keeps it in view */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for its own size */
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid var(--light-blue); /* Blue */
  border-radius: 50%;
  width: 80px; /* Adjust size */
  height: 80px; /* Adjust size */
  animation: spin 1s linear infinite;
  display: none; /* Initially hidden */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Footer Styles */
footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  padding: 20px 0;
}

footer img {
  width: 16px;
}
